* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.banner {
    text-align: center;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.banner svg {
    display: block;
}

.banner img {
    display: block;
}